body {
  font-family: Cochin, Cambria, Georgia, Times, "Times New Roman", serif;
  /* background: red; */
}

/* h1 {
  color: blue;
} */

.home-heading {
  color: purple;
}
.about-heading {
  color: blue;
}
